.signin{
	background:#ffffff;
	position:absolute;
	top:200px;
	width:99%;
	height:auto;
	padding:10px;
	box-shadow: 5px 5px 5px 2px #a6a6a6;
}
h2.signinbanner{
	font-family: 'Droid Sans', sans-serif;
	font-size:2em;
	text-align:center;
	padding:5px;
}
#product-image{
	padding:6px;
	box-shadow: 5px 5px 5px #b3b3b3;
	 border: 1px solid black;
    box-sizing: border-box;
}	
#product-name{
	position:relative;
	left:330px;
	top:-300px;
	width:98%;
	
}
#pricing{
	position:relative;
	left:330px;
	top:-310px;
	width:98%;
}
#description{
	position:relative;
	left:330px;
	top:-290px;
	width:70%;
}
#pbutton{
	position:relative;
	left:330px;
	top:-240px;
	width:auto;
}